descartes==1.1.0
ipython==8.14.0
lyft_dataset_sdk==0.0.8
m2r==0.3.1
matplotlib==3.6.2
numba==0.57.0
numpy==1.21.5
open3d==0.17.0
opencv_python==4.6.0.66
pandas==1.4.0
Pillow==9.3.0
Pillow==9.5.0
pycocotools==2.0.6
pyquaternion==0.9.9
pytest==7.3.1
pytorch_sphinx_theme==0.0.19
rdp==0.8
recommonmark==0.7.1
scipy==1.10.1
seaborn==0.12.2
setuptools==59.5.0
Shapely==1.8.5.post1
simplification==0.6.2
skimage==0.0
terminaltables==3.1.10
tqdm==4.64.1
trimesh==3.21.7
waymo_open_dataset==1.0.1
